.container_main {
    padding: 2%;
}

.myrow {
    margin-left: 0px;
    margin-right: 0px;
    height: 5em;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 24px;
    margin: .1rem 0 0rem 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 0px 0px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
}


.weaver_icon {
    width: 100px;
}

.body_bg {
    background-image: url("../images/bg.png");
}

.oppurtunities_icons {
    width: 15px;
    height: 15px;
}

.box_padding {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2.4px solid steelblue;
    background-color: white;
}

.box_padding_medium {
    margin-bottom: 10%;
    width: 50%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2.4px solid steelblue;
    background-color: white;
}

.radio_no_padding{
    padding-left: 0px !important;
}

.top_margin_null{
    margin-top: 0px !important;
}

.right_pull{
    margin-left: 27% !important;
}

.back_btn_style{
     display:inline; 
     margin-top: 0px; 
     margin-bottom: 0px; 
     font-size: 18px
}

.calender_date_img_margin{
    margin-left: 40px !important;
}

.active {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2.4px solid rgb(252, 194, 78);
}
    
.list-inline-margin-correction {
    margin-left: 0px !important;
}

.profile_img_width {
    width: 80px !important;
}

.o_s_t {
    padding: 15px;
}

.title_color {
    color: rgb(122, 124, 127);
}

.content_name_color {
    color: #333;
}

.calender_date_img {
    border-radius: 50%;
    border: 5px solid rgb(29, 99, 211);
}

.need_help {
    border-radius: 0%;
    background-color: rgb(56, 180, 75);
    text-decoration: none;
    outline: 0;
}
